body {
  background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExM3B5a2p4Y3dwdTJpbjFubXhnbWttZjQwaWVjZ210NXRtcGw2amlrcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/jaOXKCxtBPLieRLI0c/giphy.gif);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.navbar {
  position: fixed;
  top: 0;
}

#sparkling-background {
  background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExenZydWpzb2Y3bzdiOTM4cDF5NzJhank5cnM2cDJoZXpkYnp3cHo0byZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/RHIKETUlUINYvV7CAO/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Courier New", Courier, monospace;
}

h1,
p {
  font-family: "Courier New", Courier, monospace;
}

@keyframes reveal {
  from {
    opacity: 0;
    clip-path: inset(45% 20% 45% 20%);
  }
  to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
  }
}

.revealing-image {
  /* Create View Timeline */
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;

  /* Attach animation, linked to the  View Timeline */
  animation: linear reveal both;
  animation-timeline: --revealing-image;

  /* Tweak range when effect should run*/
  animation-range: entry 40% cover 50%;
}


.card {
	--index0: calc(var(--index) - 1); /* 0-based index */
	--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
	--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
}

@keyframes scale {
	to {
		transform:
			scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
	}
}

#cards {
	--numcards: 4;
	view-timeline-name: --cards-element-scrolls-in-body;
}

.card__content {
	--start-range: calc(var(--index0) / var(--numcards) * 100%);
	--end-range: calc((var(--index)) / var(--numcards) * 100%);

	animation: linear scale forwards;
	animation-timeline: --cards-element-scrolls-in-body;
	animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
}


@keyframes sticky-parallax-header-move-and-size {
	from {
		background-position: 50% 0;
		height: 100vh;
		font-size: calc(4vw + 1em);
	}
	to {
		background-position: 50% 100%;
		background-color: #0b1584;
		height: 10vh;
		font-size: 2em;
    
	}
}

#sticky-parallax-header {
	position: fixed;
	top: 0;

	animation: sticky-parallax-header-move-and-size linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 90vh;
}

body {
	padding-top: 100vh;
}

